:root {
    /*Backgrounds*/
    /* --bg-primary: none; */
    --bg-primary: var(--bg-primary-bt);
    --bg-primary-bt: #1C1C1C;
    --bg-primary-wt: #E3E3E3;
    --bg-primary-opacity: rgba(255, 255, 255, 0.3);
    /* --bg-secondary: none; */
    --bg-secondary: var(--bg-secondary-bt);
    --bg-secondary-bt: #212121;
    --bg-secondary-wt: #DEDEDE;
    --bg-secondary-opacity: rgba(33, 33, 33, 0.7);
    --bg-secondary-opacity2: rgba(33, 33, 33, 0.4);
    /* --bg-grouped: none; */
    --bg-grouped: var(--bg-grouped-bt);
    --bg-grouped-bt: #2e2e2e;
    --bg-grouped-wt: #D1D1D1;
    --bg-grouped-opacity: rgba(46, 46, 46, 0.25);
    
    /*Texts and Icons*/
    /* --txt-primary: none; */
    --txt-primary: var(--txt-primary-bt);
    --txt-primary-bt: #FFF;
    --txt-primary-wt: #000;
    /* --txt-secondary: none; */
    --txt-secondary: var(--txt-secondary-bt);
    --txt-secondary-bt: #999;
    --txt-secondary-wt: #666;

    /* Stroke */
    --st-primary: #3E3C44;

    /*Colors*/
    --cl-main: none;

    --cl-pink: #FF2D55;
    --cl-red: #C44A4A;
    --cl-orange: #FF9500;
    --cl-yellow: #FFCC00;
    --cl-green: #34C759;
    --cl-mint: #00C7BE;
    --cl-cyan: #32ADE6;
    --cl-blue: #007AFF;
    --cl-indigo: #5856D6;
    --cl-purple: #AF52DE;

    --cl-red-marker: #FE4D4D;
    --cl-orange-marker: #FF7514;
    --cl-yellow-marker: #FCDD76;
    --cl-green-marker: #71BC78;
    --cl-blue-marker: #7FC7FF;
    --cl-purple-marker: #A2A2D0;

    /* Fonts */
    --fnt-regular: none;
    --fnt-medium: none;
    --fnt-bold: none;
}

@font-face {
    font-family: 'Outfit-Regular'; /*200*/
    src: url('../fonts/Outfit/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Outfit-Medium'; /*300*/
    src: url('../fonts/Outfit/Outfit-Medium.ttf');
}

@font-face {
    font-family: 'Outfit-Bold'; /*600*/
    src: url('../fonts/Outfit/Outfit-Bold.ttf');
}

@font-face {
    font-family: 'Inter-Regular'; /*200*/
    src: url('../fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Medium'; /*300*/
    src: url('../fonts/Inter/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-Bold'; /*600*/
    src: url('../fonts/Inter/Inter-Bold.ttf');
}