/* MESSAGE DESIGN */
.console-messages-frame {
    overflow-y: scroll;
    top: 64px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 140px);
    padding: 10px;
    gap: 10px;
}

.message-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 20px;
    background-color: var(--bg-secondary-opacity);
    border-radius: 16px;
}

.message-title {
    padding: 10px 0;
    font-family: 'Outfit-Regular', 'Inter-Regular';
    font-size: 16px;
}

.message-title-frame {
    display: flex;
    gap: 10px;
    align-items: center;
}

.message-title-info {
    color: var(--cl-blue);
}

.message-title-success {
    color: var(--cl-green);
}

.message-title-error {
    color: var(--cl-red);
}

.message-title-warning {
    color: var(--cl-orange);
}

.message-item-frame {
    display: flex;
    gap: 6px;
}

.message-icon {
    display: flex;
    align-items: center;
}

.message-time-stamp {
    min-width: 150px;
    padding: 10px 0;
    font-family: 'Outfit-Regular', 'Inter-Regular';
    font-size: 16px;
    color: var(--txt-secondary);
    flex-shrink: 0;
}

.message-description {
    padding: 10px 0;
    font-family: 'Outfit-Regular', 'Inter-Regular';
    font-size: 16px;
    color: var(--txt-primary);
    white-space: pre-wrap;
}

/* INPUT DESIGN */
.console-input-frame {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 76px; 
    background-color: var(--bg-secondary); 
}

.console-input {
    border: unset;
    background: unset;
    outline: unset;
    width: 100%;
    height: 100%;
    font-family: 'Outfit-Regular', 'Inter-Regular';
    font-size: 20px;
    color: var(--txt-secondary);
}

/* Colour squares */
.relative {
    position: relative;
    z-index: 2;
}

.square {
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: -1;
    width: 20px;
    height: 20px;
    background-color: var(--cl-blue);
}

/* Settings */
.main-body {
    display: flex;
    width: 100%;
    height: calc(100% - 64px);
}

.sidebar {
    position: relative;
    display: flex;
    top: 0;
    width: 260px;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    background: var(--bg-secondary);
}

.sidebar-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.button {
    -webkit-user-select: none;
    display: flex;
    width: 240px;
    height: 50px;
    padding: 10px;
    gap: 10px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    background-color: var(--bg-secondary);
}

.button-disabled > .button-icon > svg > path {
    stroke: var(--txt-secondary);
}

.button-text {
    font-family: 'Outfit-Regular', 'Inter-Regular';
    font-size: 16px;
    color: var(--txt-secondary);     
}

.field {
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
}

.field-frame {
    padding: 10px;
    gap: 10px;
}

.field-title-frame {
    -webkit-user-select: none;
    padding: 10px;
}

.field-title {
    font-family: 'Outfit-Bold', 'Inter-Bold';
    font-size: 14px;
    color: var(--txt-primary);
}

.field-option-frame {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
}

.field-option-wrapper {
    position: relative;
}

.field-option-wrapper-icon {
    width: 64px;
    height: 64px;
    padding: 20px;
    gap: 20px;
    border-radius: 16px;
    backdrop-filter: blur(24px);
    background-color: var(--bg-secondary-opacity);
}

.field-option-container {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.field-option-text {
    -webkit-user-select: none;
    padding: 10px;
    font-family: 'Outfit-Regular', 'Inter-Regular';
}

.field-option-button {
    -webkit-user-select: none;
    height: fit-content;
    background: var(--bg-grouped);
    border-radius: 16px;
    width: 120px;
    padding: 10px 0;
    font-size: 14px;
    font-family: 'Outfit-Regular', 'Inter-Regular';
    color: var(--txt-primary);
    transition: all .33s ease;
}

.button-icon {
    position: absolute;
    display: flex;
    left: 16px;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.button, .settings-button-text {
    transition: all .33s ease;
}

.button-active {
    background-color: var(--bg-grouped-opacity);
}

.button-active > .button-text {
    color: var(--txt-primary);
}

.button:not(.button-disabled):hover {
    background-color: var(--bg-grouped-opacity);
}

.button:not(.button-disabled):hover > .settings-button-text {
    color: var(--txt-primary);
}

.console-body {
    position: fixed;
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
}

.content {
    width: calc(100% - 260px);
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.content-block {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px 0;
}

.block-messages-input {
    background: var(--bg-secondary);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.input-pre-wrap {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 0;
    padding-right: 0;
}

.console-input {
    height: 40px;
    font-size: 16px;
    color: var(--txt-primary);
}

.input-advice {
    color: var(--cl-blue);
    font-size: 16px;
    font-family: 'Outfit-Regular', 'Inter-Regular';
    padding: 10px;
    padding-top: 0;
    user-select: none;
}

.color-red {
    color: var(--cl-red);
}

.console-button {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 5px;
}

.console-button:hover > svg > path {
    stroke: var(--txt-secondary);
    transition: all .33s ease;
}

.block-messages-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    overflow-y: scroll;
}

.block-messages-field::-webkit-scrollbar {
    display: none;
}

.message {
    width: 100%;
    padding: 10px;
    font-family: 'Outfit-Regular', 'Inter-Regular';
    border-radius: 20px;
}

.from-user {
    background: var(--bg-secondary);
}

.from-console {
    background-color: var(--bg-grouped);
}

.message-title {
    font-size: 12px;
    color: var(--txt-secondary);
    padding: 10px;
    user-select: none;
}

.message-text {
    font-size: 16px;
    color: var(--txt-primary);
    padding: 10px;
    white-space: pre-wrap;
}

.block-log-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    overflow-y: scroll;
}

.block-log-messages::-webkit-scrollbar {
    display: none;
}

.log-message {
    display: flex;
    gap: 10px;
    padding: 12px;
    border-radius: 16px;
    background: var(--bg-secondary);
    font-family: 'Outfit-Regular', 'Inter-Regular';
}

.message-icon {
    width: 50px;
    height: 50px;
    background: var(--bg-grouped);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-title {
    color: var(--txt-secondary);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-text {
    font-size: 16px;
    color: var(--txt-primary);
}

.title-new-block {
    background: var(--cl-blue);
    border-radius: 6px;
    padding: 2px 4px;
    color: var(--txt-primary) !important;
    font-size: 14px;
}