.header {
    -webkit-app-region: drag;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--bg-secondary);
}

.title-frame {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
}

.title-slash {
    -webkit-app-region: none;
    color: var(--txt-secondary);
    font-family: 'Outfit-Medium';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.title {
    -webkit-app-region: none;
    color: var(--txt-primary);
    font-family: 'Outfit-Medium';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.control-island-frame {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    -webkit-app-region: none;
}

.control-island-button {
    background: none;
    display: flex;
    width: 44px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*<--EXTRA PARAMETERS-->*/
.control-island-button-icon {
    flex-shrink: 0;
}

.control-island-button-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.control-island-button-icon:hover > svg > path {
    stroke: var(--txt-secondary);
}

.control-island-button-close-icon:hover > svg > path {
    stroke: var(--txt-secondary);
}

.control-island-button-close-icon > svg {
    transform: rotate(-90deg);
}