/*<--BASIC DESIGN-->*/
body {
    background: var(--bg-primary);
}

/*<--HEADER DESIGN-->*/
.header {
    -webkit-app-region: drag;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--bg-secondary);
}

.breadcrumbs {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
}

.breadcrumbs-slash {
    -webkit-app-region: none;
    -webkit-user-select: none;
    color: var(--txt-secondary);
    font-family: 'Outfit-Medium';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.breadcrumbs-title {
    -webkit-app-region: none;
    -webkit-user-select: none;
    color: var(--txt-primary);
    font-family: 'Outfit-Medium';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.control-island-frame {
    -webkit-app-region: none;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.control-island-button {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all .33s ease;
}

/*<--SIDEBAR DESIGN-->*/
.cristall-body {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--bg-secondary);
}

.sidebar-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.sidebar-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.sidebar-button {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all .33s ease;
}

.sidebar-list-files {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sidebar-file {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.sidebar-file-name {
    -webkit-user-select: none;
    color: var(--txt-secondary);
    font-family: 'Outfit-Regular';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    transition: all .33s ease;
}

.sidebar-file-name:hover {
    color: var(--txt-primary);
}

.sidebar-workspace-changer {
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 6px;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-primary);
}

.sidebar-workspace-switcher {
    display: flex;
    padding: 0px 6px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.sidebar-workspace-title {
    -webkit-user-select: none;
    color: var(--txt-secondary);
    font-family: 'Outfit-Medium';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.sidebar-workspace-left-button {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-workspace-right-button {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-workspace-settings-button {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*<--VIEWPORT DESIGN-->*/
.viewport {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

/*<--EXTRA PARAMETERS-->*/
/*sidebar*/
.folder-icon, .workspace-icon, .guides-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.folder-icon > svg > path, .workspace-icon > svg > path, .guides-icon > svg > path {
    transition: all .33s ease;
}

.sidebar-button:hover {
    background: var(--bg-primary);
}

.sidebar-button:hover > .folder-icon > svg > path {
    stroke: var(--txt-primary);
}

.sidebar-button:hover > .workspace-icon > svg > path {
    stroke: var(--txt-primary);
}

.sidebar-button:hover > .guides-icon > svg > path {
    stroke: var(--txt-primary);
}

/*control-island*/
.minus-icon {
    display: flex;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.stop-icon {
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.add-icon {
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.minus-icon > svg > path, .stop-icon > svg > path, .add-icon > svg > path {
    transition: all .33s ease;
}

.control-island-button:hover {
    background: var(--bg-primary);
}

.control-island-button:hover > .minus-icon > svg > path {
    stroke: var(--txt-primary);
}

.control-island-button:hover > .stop-icon > svg > path {
    stroke: var(--txt-primary);
}

.control-island-button:hover > .add-icon > svg > path {
    stroke: var(--cl-red);
}

.control-island-button:hover > .add-icon > svg {
    transform: rotate(90deg);
}