.md-block {
    font-family: 'Outfit-Regular', 'Inter-Regular';
    color: var(--txt-secondary);
    outline: none;
    padding: 10px;
    transition: background .33s ease;
    border-radius: 12px;
    white-space: pre-wrap;
}

.md-block:hover {
    background: var(--bg-secondary);
}

.md-block.md-quote:hover {
    background: var(--bg-secondary);
    border-radius: 10px;
    border: unset;
}

.md-header-1, .md-header-2,
.md-header-3, .md-header-4,
.md-header-5, .md-header-6 {
    color: var(--txt-primary);
}

.md-header-1 {
    font-size: 22px;
}

.md-header-2 {
    font-size: 20px;
}

.md-header-3 {
    font-size: 18px;
}

.md-header-4 {
    font-size: 16px;
}

.md-header-5 {
    font-size: 14px;
}

.md-header-6 {
    font-size: 12px;
}

.md-text-inline-code {
    padding: 6px 4px;
    border-radius: 6px;
    background: var(--bg-grouped);
}

.md-quote {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 2px solid var(--st-primary);
    border-radius: 0;
}

.md-horizontal-line > div {
    width: 100%;
    height: 2px;
    background: var(--st-primary);
}

.md-link {
    color: var(--cl-red);
}